/*
page
 */
 {
	outline: 1px solid gray;
}

.App {
	width: 80%;
	margin: 0 auto;
}

#title {
	text-align: center;
	font-size: 3rem;
}
/*
Search
 */
.search-form {
	width: 50%;
	margin: 0 auto;
	height: 2rem;
}

.search-form input {
	width: 60%;
}
.search-form button {
	width: 35%;
}
/*
Book list
 */
#book-list {
	display: flex;
	flex-wrap: wrap;
}

.book-card {
	margin: 2rem auto;
	width: 30%;
	list-style: none;
	padding-left: 4px;
	outline: 1px solid black;
}

/**************************
Modal
**************************/
#modal-wrapper {
	position: fixed;
	background-color: rgba(100, 100, 100, 0.9);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.modal {
	background-color: white;
	width: 80%;
	margin: 10rem auto;
	padding: 1rem;
	border: 2.5px solid #534e4e;
}
#modal-header img {
	border: 0.5px solid black;
}

#modal-header {
	display: flex;
	background-color: #d6d6d6;
	border: 0.5px solid #936d6d;
}
#modal-title {
	font-size: 2rem;
	font-family: sans-serif;
	margin: 3rem auto;
}

#book-description {
	width: 90%;
	margin: 1rem auto;
}

#book-description p {
	font-weight: bold;
	font-size: 1.2rem;
	display: inline;
}
